<!DOCTYPE html>
<html>
	<head>
		<title>Project - Python with GCP</title>
		<style>
			body{
				background-color:#696969;
			}
		</style>
	</head>
<body>
<style>
{	
	font-family:courier;
}
			.Fractal{
				max-width:500px;
				margin:auto;
			}
</style>


<h1 align="center">Fractals</h1>

<div class="Fractal"
<br><p>1. Harter Heighway Dragon

<br><a href="https://storage.googleapis.com/fractal_image/New%20fractal/Harter-Heighway_high.PNG">Harter-Heighway-Dragon-High</a>

<br><a href="https://storage.googleapis.com/fractal_image/New%20fractal/Harter-Heighway_low.png">Harter-Heighway-Dragon-Low</a>
</p>



