<!DOCTYPE html>
<html>
	<head>
		<title>Project - Python with GCP</title>
		<style>
			body{
				background-color:#696969;
			}
		</style>
	</head>
<body>
<style>
{	
	font-family:courier;
}
			.Fractal{
				max-width:500px;
				margin:auto;
			}
</style>


<h1 align="center">Fractals</h1>

<div class="Fractal"
<br><p>1. Harter Heighway Dragon

<br><a href="https://storage.googleapis.com/fractal_image/New%20fractal/Harter-Heighway_high.PNG">Harter-Heighway-Dragon-High</a>

<br><a href="https://storage.googleapis.com/fractal_image/New%20fractal/Harter-Heighway_low.png">Harter-Heighway-Dragon-Low</a>
</p>

<br><p>2. Some Fractal Quilt

<br><a href="https://storage.googleapis.com/fractal_image/New%20fractal/Some_Factal_Quilt_high.png">Some Fractal Quilt-High</a>

<br><a href="https://storage.googleapis.com/fractal_image/New%20fractal/Some_fractal-Quilt_low.PNG">Some Fractal Quilt-Low</a>
</p>

<br><p>3. Tree Branch

<br><a href="https://storage.googleapis.com/fractal_image/New%20fractal/Tree_Branch_Fractal_high.png">Tree Branch-High</a>

<br><a href="https://storage.googleapis.com/fractal_image/New%20fractal/tree_branch_fractal_low.PNG">Tree Branch-Low</a>
</p>

<br><p>
<a href="https://storage.googleapis.com/fractal_image/Team7-GCP%20with%20Python.html">Documentation for Deployment</a>
</p>

</div>
</body>

<footer>
        <p>Developers: Aditya Kasturi, Aditya Rohan, Naveen, Pradip</p>
        <p>Fractal Images Screenshots: <a href="https://tashfeen.org/fractalsetc/build/index.html">Fractals By Tashfeen</a>
        </p>
</footer>
</html>
